@import "../variables";

.pointers {
  :global {
    .ant-steps-item-process
      .ant-steps-item-icon
      > .ant-steps-icon
      .ant-steps-icon-dot {
      background-color: $analysa-purple;
    }
    .ant-steps-item-wait
      .ant-steps-item-icon
      > .ant-steps-icon
      .ant-steps-icon-dot {
      background-color: $analysa-purple;
    }
    .ant-steps-item-tail::after {
      background-color: $analysa-purple !important;
    }
    .ant-steps-item-process
      > .ant-steps-item-container
      > .ant-steps-item-tail::after {
      background-color: $analysa-purple;
    }
    .ant-steps-item-description {
      margin: 3rem 0;
    }
  }
  .dropdown {
    border: 1px solid rgba(31, 33, 39, 0.2);
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  .timelineButton {
    color: $analysa-purple;
    cursor: pointer;
  }

  .tagDiv {
    margin: 1.2rem 0;
  }
  .scatterCard {
    margin: 1rem 0;
  }

  .statistic {
    margin: 1rem 0;
    margin-right: 2rem;
  }
}
