@import "../variables";

.pieCard {
  box-shadow: 0px 13px 18px rgba(57, 84, 255, 0.04);
  border-radius: 12px;
  width: 24rem;
  border: none;
  margin: 0.5rem;
  :global {
    .ant-card-body {
      width: 100%;
    }
  }
  .pieCardDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
      margin: 0;
      padding: 0;
    }
    .icon {
      display: flex;
      align-items: center;
    }
    .pieDesc {
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      h2 {
        font-weight: 600;
        font-size: nth($fontSize, 6);
        margin-bottom: 0;
      }
      p {
        margin-bottom: 0;
        color: $analysa-grey;
      }
    }
  }
}

.barCard {
  box-shadow: 0px 13px 18px rgba(57, 84, 255, 0.04);
  border-radius: 12px;
  width: 44rem;
  height: 32.7rem;
  border: none;
  margin: 0.5rem;
  .barCardDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
    .category {
      display: flex;
      // flex-direction: row;
      align-items: center;
      margin-right: 0.5rem;
    }
    h1 {
      margin: 0;
      padding: 0;
    }
  }
}

.graphCard {
  box-shadow: 0px 13px 18px rgba(57, 84, 255, 0.04);
  border-radius: 12px;
  width: 60rem;
  height: 32.7rem;
  border: none;
  margin: 0.5rem;
  .graphCardDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    .dropdown {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
    }
  }
}

.tableCard {
  box-shadow: 0px 13px 18px rgba(57, 84, 255, 0.04);
  border-radius: 12px;
  width: 33rem;
  height: 32.7rem;
  border: none;
  margin: 0.5rem;
  h1 {
    margin-bottom: 1rem;
  }
  .tableRow {
    cursor: pointer;
    padding: 0 0.4rem;
    padding-top: 1rem;
    border-bottom: 1px solid rgba(31, 33, 39, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .iconWrapper {
    }
    h2 {
      margin-bottom: 0;
    }
    h3 {
      color: $analysa-grey;
      margin-top: 0;
      font-weight: 400;
    }
    .price {
      border-radius: 4px;
      background-color: rgba(57, 84, 255, 0.06);
      display: flex;
      align-items: center;
      padding: 0.5rem 0.8rem;
      height: 30%;
      color: $analysa-purple;
      font-weight: 600;
    }
  }
}
