@import "../variables";

.DashboardHeaderContainer {
  background: none;
  padding: 4rem 2rem;
  height: 8.5rem;

  .DashboardHeaderLeft {
    // color: $white-text;

    .BackButton {
      // background: $bugbase-green;
      border: none;
      margin-right: 1rem;
      opacity: 0.8;
      width: 2rem;
      height: 2rem;

      &:hover {
        opacity: 1;
      }
    }

    .DashboardHeaderTitle {
      font-size: nth($fontSize, 6);
      font-weight: 500;
      color: $analysa-black;
    }

    .DashboardHeaderSubtitle {
      // color: $white-text-secondary;
    }
  }
}
